body {
    background-color: rgb(240, 240, 240);
}

a {
    color: blue;
}

a:hover {
    color: brown;
}

.exchange-info {
    text-align: center;   
}

.exchange-list {
    margin-left: 30%;
    margin-right: 30%;
}

article>p {
    text-align: justify;
}
header h1{
    text-align: center;
    color: blueviolet;
}

nav {
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 10px;
    list-style-type: none;
    text-indent: 0%;
}

article.contact {
    display: inline-block;
    margin-right: 100px;
}





